* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
}

h1 {
  color: rgb(30, 30, 30);
  font-family: Courgette;
  font-size: 60px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 0 20px;
  row-gap: 80px;
}

.pad {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
}

.pad > div {
  border: 1px solid red;
}

.menu {
  align-items: center;
  column-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  row-gap: 40px;
}

.color-picker {
  appearance: none;
  background-color: rgb(245, 245, 245);
  border: none;
  height: 75px;
  outline: none;
  -webkit-appearance: none;
  width: 75px;
}

button {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(60, 60, 60);
  border-radius: 5px;
  color: rgb(60, 60, 60);
  font-size: 16px;
  height: 50px;
  width: 200px;
}

button:hover {
  background-color: rgb(235, 235, 235);
}

button:hover,
.color-picker,
.pad:hover {
  cursor: pointer;
}

.selected {
  background-color: rgb(60, 60, 60);
  color: rgb(245, 245, 245)
}

.selected:hover {
  background-color: rgb(60, 60, 60);
}

.slider {
  appearance: none;
  background: rgb(215, 215, 215);
  border-radius: 10px;
  height: 15px;
  opacity: 0.7;
  outline: none;
  transition: opacity .2s;
  -webkit-appearance: none;
  -webkit-transition: .2s;
}

.slider:hover {
  cursor: pointer;
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background: rgb(60, 60, 60);
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  -webkit-appearance: none;
  width: 25px;
}

.slider::-moz-range-thumb {
  background: rgb(60, 60, 60);
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.dimensions {
  color: rgb(30, 30, 30);
  font-size: 20px;
  width: 65px;
}

footer {
  align-items: center;
  bottom: 0;
  color: rgb(30, 30, 30);
  column-gap: 10px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
}

.fa-github {
  color: rgb(30, 30, 30);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}